{% extends 'layouts/gestao.html' %}

{% load material_form %}
{% load static %}

{% block conteudo_gestao %}
    <div class="col s12">
        <div class="row">
            <div class="col s10">
                <h5>Associado do Diretório Acadêmico</h5>
            </div>
            <div class="col s2">
                <a class="btn light-blue" href="{% url 'gestao-associados' %}" style="margin-top: 16.4px">Voltar</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="section col s4">
                <h5>Nome Completo</h5>
                <p>{{ associado.nome }} {{ associado.sobrenome }}</p>
            </div>
            <div class="section col s4">
                <h5>Email</h5>
                <p>{{ associado.email }}</p>
            </div>
            <div class="section col s4">
                <h5>Telefone</h5>
                <div class="">
                    {% if associado.telefone %}
                        {{ associado.telefone }}
                    {% else %}
                        <i>Sem telefone</i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section col s4">
                <h5>Matrícula</h5>
                <p>{{ associado.matricula }}</p>
            </div>
            <div class="section col s4">
                <h5>Ano de Matrícula</h5>
                <p>{% if associado.ano_matricula %}{{ associado.ano_matricula }}{% else %}<i>Não Informado</i>{% endif %}</p>
            </div>
            <div class="section col s4">
                <h5>Previsão de Conclusão</h5>
                <p>{% if associado.previsao_conclusao %}{{ associado.previsao_conclusao }}{% else %}<i>Não Informado</i>{% endif %}</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="section col s6">
                <h5>Data do Cadastro</h5>
                <p>{{ associado.date_joined|date:'d/m/Y H:i:s' }}</p>
            </div>
            <div class="section col s6">
                <h5>Último Login</h5>
                <p>{{ associado.last_login|date:'d/m/Y H:i:s' }}</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="section col s6">
                <h5>Cargos</h5>
                <ul class="collection">
                    {% for cargo in associado.cargos.all %}
                        <li class="collection-item">{{ cargo.nome }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section col s6">
                <h5>Diretor?</h5>
                <p>{% if associado.is_staff %}<i class="small material-icons">check_circle</i>{% else %}<i class="small material-icons">cancel</i>{% endif %}</p>
            </div>
        </div>
        <div class="row">
            {% include 'utilidades/para_topo.html' %}
        </div>
    </div>
{% endblock %}