{% extends 'layouts/gestao.html' %}

{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Reunião?</h4>
            <p>Ao confirmar a exclusão da reunião, todos os registros vinculados serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Atas de Reunião do Diretório</h5>
        </div>
        <div class="row">
            <div class="col s10">
                {% include 'utilidades/pesquisa.html' %}
            </div>
            <div class="col s2">
                {% include 'utilidades/botao_add.html' with tooltip="Nova Reunião" add_url="gestao-reunioes-nova" %}
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Data</th>
                        <th>Título</th>
                        <th>Presentes</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ata in reuniao_list %}
                        <tr>
                            <td>{{ ata.id }}</td>
                            <td>{{ ata.data|date:'d/m/Y' }}</td>
                            <td>{{ ata.titulo }}</td>
                            <td>
                                    {% for associado in ata.presentes.all %}
                                        <span class="new badge blue" data-badge-caption="">{{ associado.nome }}</span>
                                    {% empty %}
                                        <i>Sem Presentes</i>
                                    {% endfor %}
                            </td>
                            <td>
                                {% include 'utilidades/acoes.html' with modulo="gestao-reunioes" pk_registro=ata.id model_name="Reunião" %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">
                                <div class="center-align">
                                    <i>Nenhuma Reunião</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% include 'utilidades/paginacao.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}
