{% extends 'layouts/gestao.html' %}

{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Reunião?</h4>
            <p>Ao confirmar a exclusão da reunião, todos os registros vinculados serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Atas de Reunião do Diretório</h5>
        </div>
        <div class="row right-align">
            <form method="GET" class="col s6">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="termo-pesquisa" name="termo" value="{% if termo %}{{ termo }}{% endif %}">
                        <label for="termo-pesquisa">Pesquisar</label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light tooltipped" data-position="right" data-tooltip="Pesquisar"><i class="material-icons">arrow_forward</i></button>
                    </div>
                </div>
            </form>
            <div class="col s6">
                <a class="btn-floating btn-large waves-effect waves-light tooltipped red" data-position="left" data-tooltip="Novo Link de Cadastro" href="{% url 'gestao-links-cadastro-novo' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Data Criação</th>
                        <th>Expiração</th>
                        <th>Usado</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in linkcadastro_list %}
                        <tr>
                            <td><a href="{% url 'site-cadastro-associado' pk=link.id %}">{{ request.scheme }}://{{ request.get_host }}{% url 'site-cadastro-associado' pk=link.id %}</a></td>
                            <td>{{ link.data|date:'d/m/Y H:i:s' }}</td>
                            <td>{{ link.validade|date:'d/m/Y H:i:s' }}</td>
                            <td>{% if link.usado %}<i class="small material-icons">check_circle</i>{% else %}<i class="small material-icons">cancel</i>{% endif %}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light tooltipped purple" data-position="top" data-tooltip="Ver Link de Cadastro" href="{% url 'gestao-links-cadastro-ver' pk=link.id %}"><i class="material-icons">remove_red_eye</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped gray modal-trigger {% if link.usado %}disabled{% endif %}" data-position="top" data-tooltip="Remover Link de Cadastro" data-modal-confirm-url="{% url 'gestao-links-cadastro-remover' pk=link.id %}" href="#confirmar-exclusao"><i class="material-icons">delete</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped blue {% if link.usado %}disabled{% endif %}" data-position="top" data-tooltip="Editar Link de Cadastro" href="{% url 'gestao-links-cadastro-editar' pk=link.id %}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">
                                <div class="center-align">
                                    <i>Nenhuma Reunião</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% include 'utilidades/paginacao.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}