{% extends 'layouts/gestao.html' %}

{% load material_form %}

{% block conteudo_gestao %}
    <div class="col s12">
        <div class="row">
            <div class="col s10">
                <h5>Editar Grupo de Associado</h5>
            </div>
            <div class="col s2">
                <a class="btn light-blue" href="{% url 'gestao-grupos' %}" style="margin-top: 16.4px">Voltar</a>
            </div>
        </div>
        <div class="row">
            <form class="col s12" enctype="multipart/form-data"method="POST">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <div class="row">
                    <button type="submit" name="_submit" class="btn green">Salvar</button>
                    <a class="btn light-blue" href="{% url 'gestao-grupos' %}">Voltar</a>
                </div>
            </form>
        </div>
        <div class="row">
            {% include 'utilidades/para_topo.html' %}
        </div>
    </div>
{% endblock %}