{% extends 'layouts/gestao.html' %}


{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Grupo?</h4>
            <p>Ao confirmar a exclusão do grupo, todos os registros vinculados serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Grupos de Associados</h5>
        </div>
        <div class="row right-align">
            <form method="GET" class="col s6">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="termo-pesquisa" name="termo" value="{% if termo %}{{ termo }}{% endif %}">
                        <label for="termo-pesquisa">Pesquisar</label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light tooltipped" data-position="right" data-tooltip="Pesquisar"><i class="material-icons">arrow_forward</i></button>
                    </div>
                </div>
            </form>
            <div class="col s6">
                <a class="btn-floating btn-large waves-effect waves-light tooltipped red" data-position="left" data-tooltip="Novo Egresso" href="{% url 'gestao-grupos-novo' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Nº Associados</th>
                        <th>Nº Permissões</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in group_list %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ group.user_set.count }}</td>
                            <td>{{ group.permissions.count }}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light tooltipped purple" data-position="top" data-tooltip="Ver Egresso" href="{% url 'gestao-grupos-ver' pk=group.id %}"><i class="material-icons">remove_red_eye</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped purple" data-position="top" data-tooltip="Ver Egresso" href="{% url 'gestao-grupos-permissoes' pk=group.id %}"><i class="material-icons">pencil</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped gray modal-trigger" data-position="top" data-tooltip="Remover Egresso" href="#confirmar-exclusao" data-modal-confirm-url="{% url 'gestao-grupos-remover' pk=group.id %}"><i class="material-icons">delete</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped blue" data-position="top" data-tooltip="Editar Egresso" href="{% url 'gestao-grupos-editar' pk=group.id %}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">
                                <div class="center-align">
                                    <i>Nenhum grupo</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% include 'utilidades/paginacao.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}