{% extends 'layouts/gestao.html' %}

{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Egresso?</h4>
            <p>Ao confirmar a exclusão do egresso, todos os registros vinculados serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Diretores do Diretório Acadêmico</h5>
        </div>
        <div class="row">
            <div class="col s10">
                {% include 'utilidades/pesquisa.html' %}
            </div>
            <div class="col s2">
                {% include 'utilidades/botao_add.html' with tooltip="Novo Diretor" add_url="gestao-diretores-novo" %}
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Matrícula</th>
                        <th>Cargos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for diretor in diretor_list %}
                        <tr>
                            <td>{{ diretor.id }}</td>
                            <td>{{ diretor.nome }} {{ diretor.sobrenome }}</td>
                            <td>{{ diretor.matricula }}</td>
                            <td>
                                {% for group in diretor.groups.all %}
                                    <span class="new badge green" data-badge-caption="">{{ group.name }}</span>
                                {% empty %}
                                    <span class="new badge red" data-badge-caption="">Sem grupos</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% include 'utilidades/acoes.html' with modulo="gestao-diretores" pk_registro=diretor.id model_name="Diretor" %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">
                                <div class="center-align">
                                    <i>Nenhum diretor. Você precisa cadastrar Alunos</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% include 'utilidades/paginacao.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}
