{% extends 'layouts/gestao.html' %}
{% load material_form %}

{% block conteudo_gestao %}
    <div class="container">
        <div class="row">
            <h5>Configurações do Diretório Acadêmico</h5>
        </div>
        <div class="row">
            <form class="col s12" action="{% url 'gestao-config-diretorio' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button type="submit" name="_submit" class="btn">Salvar</button>
            </form>
        </div>
    </div>
{% endblock %}