{% extends 'layouts/gestao.html' %}


{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Egresso?</h4>
            <p>Ao confirmar a exclusão do egresso, todos os registros vinculados serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Egressos do Curso</h5>
        </div>
        <div class="row right-align">
            <form method="GET" class="col s6">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="termo-pesquisa" name="termo" value="{% if termo %}{{ termo }}{% endif %}">
                        <label for="termo-pesquisa">Pesquisar</label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light tooltipped" data-position="right" data-tooltip="Pesquisar"><i class="material-icons">arrow_forward</i></button>
                    </div>
                </div>
            </form>
            <div class="col s6">
                <a class="btn-floating btn-large waves-effect waves-light tooltipped red" data-position="left" data-tooltip="Novo Egresso" href="{% url 'gestao-egressos-novo' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Ano Conclusão</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for egresso in egresso_list %}
                        <tr>
                            <td>{{ egresso.id }}</td>
                            <td>{{ egresso.nome }} {{ egresso.sobrenome }}</td>
                            <td>{{ egresso.previsao_conclusao }}</td>
                            <td>{{ egresso.email }}</td>
                            <td>{% if egresso.telefone %}{{ egresso.telefone }}{% else %}<span class="new badge red" data-badge-caption="">Sem telefone</span>{% endif %}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light tooltipped purple" data-position="top" data-tooltip="Ver Egresso" href="{% url 'gestao-egressos-ver' pk=egresso.id %}"><i class="material-icons">remove_red_eye</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped gray modal-trigger" data-position="top" data-tooltip="Remover Egresso" href="#confirmar-exclusao" data-modal-confirm-url="{% url 'gestao-egressos-remover' pk=egresso.id %}"><i class="material-icons">delete</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped blue" data-position="top" data-tooltip="Editar Egresso" href="{% url 'gestao-egressos-editar' pk=egresso.id %}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">
                                <div class="center-align">
                                    <i>Nenhum egresso</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% include 'utilidades/paginacao.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}