{% extends 'layouts/gestao.html' %}


{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" data-id="{{ associado.id }}" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Associado?</h4>
            <p>Ao confirmar a exclusão do associado, todos os registros vinculados serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Associados do Diretório Acadêmico</h5>
        </div>
        <div class="row right-align">
            <form method="GET" class="col s6">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="termo-pesquisa" name="termo" value="{% if termo %}{{ termo }}{% endif %}">
                        <label for="termo-pesquisa">Pesquisar</label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light tooltipped" data-position="right" data-tooltip="Pesquisar"><i class="material-icons">arrow_forward</i></button>
                    </div>
                </div>
            </form>
            <div class="col s6">
                <a class="btn-floating btn-large waves-effect waves-light tooltipped red" data-position="left" data-tooltip="Novo Associado" href="{% url 'gestao-egressos-novo' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Ano Conclusão</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for associado in associados %}
                        <tr>
                            <td>{{ associado.id }}</td>
                            <td>{{ associado.nome }} {{ associado.sobrenome }}</td>
                            <td>{{ associado.previsao_conclusao }}</td>
                            <td>{{ associado.email }}</td>
                            <td>{% if associado.telefone %}{{ associado.telefone }}{% else %}<span class="new badge red" data-badge-caption="">Sem telefone</span>{% endif %}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light tooltipped gray modal-trigger" data-position="top" data-tooltip="Remover associado" href="#confirmar-exclusao" data-modal-confirm-url="{% url 'gestao-egressos-novo' %}?id={{ associado.id }}&method=DELETE"><i class="material-icons">delete</i></a>
                                <a class="btn-floating waves-effect waves-light tooltipped blue" data-position="top" data-tooltip="Editar Associado" href="{% url 'gestao-egressos-novo' %}?id={{ associado.id }}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">
                                <div class="center-align">
                                    <i>Nenhum egresso</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% if associados.has_other_pages %}
                <ul class="pagination">
                    <li class="waves-effect {% if not associados.has_previous %}disabled{% endif %}"><a href="{% if associados.has_previous %}?page={{ associados.previous_page_number }}{% else %}#{% endif %}"><i class="material-icons">chevron_left</i></a></li>
                    {% for i in associados.paginator.page_range %}
                        <li class="waves-effect {% if associados.number == i %}active{% endif %}"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    <li class="waves-effect {% if not associados.has_next %}disabled{% endif %}"><a href="{% if associados.has_next %}?page={{ associados.next_page_number }}{% else %}#{% endif %}"><i class="material-icons">chevron_right</i></a></li>

                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}