{% extends 'layouts/gestao.html' %}


{% block conteudo_gestao %}
    <!-- Modal Structure -->
    <div id="confirmar-exclusao" class="modal">
        <div class="modal-content">
            <h4>Confirmar Exclusão de Área?</h4>
            <p>Ao confirmar a exclusão do área, todos os vinculos serão removidos!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="botao-confirmacao" class="modal-close waves-effect waves-green green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-orange orange btn-flat">Cancelar</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Áreas Administrativas do Diretório Acadêmico</h5>
        </div>
        <div class="row">
            <div class="col s10">
                {% include 'utilidades/pesquisa.html' %}
            </div>
            <div class="col s2">
                {% include 'utilidades/botao_add.html' with tooltip="Nova Area" add_url="gestao-areas-nova" %}
            </div>
        </div>
        <div class="row">
            <table class="responsive-table highlight col s12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Área</th>
                        <th>Gestor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for area in area_list %}
                        <tr>
                            <td>{{ area.id }}</td>
                            <td>{{ area.nome }}</td>
                            <td>{% if area.gestor.nome %}{{ area.gestor.nome }}{% else %}<i>Sem Gestor</i>{% endif %}</td>
                            <td>
                                {% include 'utilidades/acoes.html' with ver=False modulo="gestao-areas" pk_registro=area.id model_name="Área" %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                <div class="center-align">
                                    <i>Nenhuma área cadastrada</i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row center-align">
            {% include 'utilidades/paginacao.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').click(function(event) {
                $('#botao-confirmacao').attr('href', $(this).data('modal-confirm-url'));
            });
        });
    </script>
{% endblock %}
